.App {
  font-family: sans-serif;
  text-align: center;
}
.myDiv {
  display: flex;
  justify-content: center;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
}
input {
}
.logo {
  width: 2.5vh;
  height: 2.5vh;
  padding: 5px;
}
button {
  margin-left: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  width: 30%;
  margin: 5px;
  box-shadow: 1px 1px 5px grey;
}
